services:
  mysql:
    image: mysql:8.0
    container_name: mysql_library
    restart: always

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: library_db
      MYSQL_USER: library_user
      MYSQL_PASSWORD: 123456
      TZ: Asia/Ho_Chi_Minh

    ports:
      - "3306:3306"

    volumes:
      - mysql_data:/var/lib/mysql

    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data: